<div id='pomodoro_tile' ng-show='controlDisplay'>
  <div id='pomodoro_header'>
    <img src='images/pomodoro.png' width='20px'>
    <a href='#' ng-click="cancelControl()"><span class='pull-right'>X</span></a>
  </div>
  <div id='pomodoro_body'>
    <div id='display' class='text-right h2'>
      {{ display }}
    </div>
    <div id='input' class='text-right h2'>  <!-- text-bottom does not do anything-->
      {{ input }}
    </div>
    <div id='keypad'>
      <div id='first_row' class='navbar navbar-default'>
        <div class='container-fluid'>  <!-- class is container has no effect on the gray strip -->
            <ul class='nav navbar-nav'>
              <li><a ng-click='clear()' href='#'><div class='text-center key-button'>C</div></a></li>
              <li><a ng-click='operator("/")' href='#'><div class='text-center key-button'>/</div></a></li>
              <li><a ng-click='operator("*")' href='#'><div class='text-center key-button'>X</div></a></li>
              <li><a ng-click='backspace()' href='#'><div><span class='glyphicon glyphicon-plus text-center' aria-hidden='true'></span></div></a></li>
            </ul>
        </div>
      </div>
      <div id='second_row' class='navbar navbar-default'>
        <div class='container-fluid'>
            <ul class='nav navbar-nav'>
              <li><a ng-click='number(7)' href='#'><div class='text-center key-button'>7</div></a></li>
              <li><a ng-click='number(8)' href='#'><div class='text-center key-button'>8</div></a></li>
              <li><a ng-click='number(9)' href='#'><div class='text-center key-button'>9</div></a></li>
              <li><a ng-click='operator("-")' href='#'><div><span class='glyphicon glyphicon-minus text-center' aria-hidden='true'></span></div></a></li>
            </ul>
        </div>
      </div>
      <div id='third_row' class='navbar navbar-default'>
        <div class='container-fluid'>
            <ul class='nav navbar-nav'>
              <li><a ng-click='number(4)' href='#'><div class='text-center key-button'>4</div></a></li>
              <li><a ng-click='number(5)' href='#'><div class='text-center key-button'>5</div></a></li>
              <li><a ng-click='number(6)' href='#'><div class='text-center key-button'>6</div></a></li>
              <li><a ng-click='operator("+")' href='#'><div><span class='glyphicon glyphicon-plus text-center' aria-hidden='true'></span></div></a></li>
            </ul>
        </div>
      </div>
      <div id='fourth_row' class='navbar navbar-default'>
        <div class='container-fluid'>
            <ul class='nav navbar-nav'>
              <li><a ng-click='number(1)' href='#'><div class='text-center key-button'>1</div></a></li>
              <li><a ng-click='number(2)' href='#'><div class='text-center key-button'>2</div></a></li>
              <li><a ng-click='number(3)' href='#'><div class='text-center key-button'>3</div></a></li>
              <li><a ng-click='paren()' href='#'><div class='text-center key-button'>()</div></a></li>
            </ul>
        </div>
      </div>
      <div id='fifth_row' class='navbar navbar-default'>
        <div class='container-fluid'>
            <ul class='nav navbar-nav'>
              <li><a ng-click='number(0)' href='#'><div class='text-center key-button'>0</div></a></li>
              <li><a ng-click='decimalPoint()' href='#'><div class='text-center decimal-point'>.</div></a></li>
              <li><a ng-click='negative()' href='#'><div class='text-center key-button'>+/-</div></a></li>
              <li><a ng-click='submit()' href='#'><div class='text-center decimal-point'>=</div></a></li>
            </ul>
        </div>
      </div>    


      </div>
    </div><!-- #keypad -->

 </div>
</div>

<a href='#' title='{{hoverMessage}}'>
  <div class='red_tomato' ng-click='displayControl()'>
    <div class='tomato_container'>
      <div class='red_countdown text-center' ng-class="{'red_single_countdown':singleCountdown}"><strong>{{tomatoTime}}</strong></div>
      <img src='images/pomodoro.png' width='60px'>
    </div>
  </div>
</a>

